body{
background-color: #0e0f11;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 30vh;
}
.calculadora{
background-color: #30343a;
border: 2px solid rgb(255, 255, 255);
width: 212px;
height: 310px;
padding: 10px;
border-radius: 10px;
content: flex;
}
#resultado{
background-color: #9ad161;
color: black;
border: 2px solid black;
margin: 10px solid black; 
width: 190px;
height: 30px;
border-radius: 10px;
font-size: 20px;
margin: 10px 5px;
text-align: right;
padding-right: 10px;
padding-top: 2px;
}
.back{
background-color: black;
border-radius: 50%;
width: 40px;
height: 40px;
font-size: 16px;
color: aliceblue;
margin: 5px;
border: none;
}
.back:hover{
background-color: rgb(255, 0, 0, 0.7);
transition: 0.5s;
opacity: 0.7;
border: none;
}
.number{
background-color: black;
border-radius: 50%;
width: 40px;
height: 40px;
font-size: 16px;
color: aliceblue;
margin: 5px;
border: none;
}
.number:hover{
background-color: #4c00ff;
transition: 0.5s;
opacity: 0.7;
border: none;
}
.vezes{
background-color: #fa980b;
border-radius: 50%;
width: 40px;
height: 40px;
font-size: 16px;
color: aliceblue;
margin: 5px;
border: none;
}
.vezes:hover{
background-color: #4c00ff;
transition: 0.5s;
opacity: 0.7;
border: none;
}
.mais{
background-color: #fa980b;
border-radius: 50%;
width: 40px;
height: 40px;
font-size: 16px;
color: aliceblue;
margin: 5px;
border: none;
}
.mais:hover{
background-color: #4c00ff;
transition: 0.5s;
opacity: 0.7;
border: none;
}
.menos{
background-color: #fa980b;
border-radius: 50%;
width: 40px;
height: 40px;
font-size: 16px;
color: aliceblue;
margin: 5px;
border: none;
}
.menos:hover{
background-color: #4c00ff;
transition: 0.5s;
opacity: 0.7;
border: none;
}
.divisao{
background-color: #fa980b;
border-radius: 50%;
width: 40px;
height: 40px;
font-size: 16px;
color: aliceblue;
margin: 5px;
border: none;
}   
.divisao:hover{
background-color: #4c00ff;
transition: 0.5s;
opacity: 0.7;
border: none;
}
.dot{
background-color: #fa980b;
border-radius: 50%;
width: 40px;
height: 40px;
font-size: 16px;
color: aliceblue;
margin: 5px;
border: none;
}
.dot:hover{
background-color: #4c00ff;
transition: 0.5s;
opacity: 0.7;
border: none;
}
.clean{
background-color: #ea5959;
border-radius: 50%;
width: 40px;
height: 40px;
font-size: 16px;
color: aliceblue;
margin: 5px;
border: none;
}
.clean:hover{
background-color: #4c00ff;
transition: 0.5s;
opacity: 0.7;
border: none;
}
.calcular{
background-color: #3e8af7;
border-radius: 10px;
width: 148px;
height: 40px;
font-size: 16px;
color: aliceblue;
margin: 5px;
border: none;
}
.calcular:hover{
background-color: #00a838;
transition: 0.5s;
opacity: 0.7;
}
